{% extends "base.html" %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    {% include "profile/sidebar.html" %}
                </div>
                <div class="column">
                    {% block inner_body %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}