{% load url_extras %}

{% url 'account_change_password' as change_password_url %}
{% url 'account_set_password' as set_password_url %}
{% url 'socialaccount_connections' as social_connections_url %}
{% url 'djstripe:change_card' as change_card_url %}

<aside class="menu">
    <p class="menu-label">
        Account
    </p>
    <ul class="menu-list">
        <li>
            <a class="{% is_active change_password_url %} {% is_active set_password_url %}"
               href="{{ change_password_url }}">Change Password</a>
        </li>
        {#        <li>#}
        {#            <a class="{% is_active social_connections_url %}" href="{{ social_connections_url }}">Social Connections</a>#}
        {#        </li>#}
    </ul>
    <p class="menu-label">
        Payments
    </p>
    <ul class="menu-list">
        <li>
            <a class="{% is_active change_card_url %}" href="{{ change_card_url }}?next={{ change_card_url }}">Change Card</a>
        </li>
    </ul>
</aside>