{% extends "base.html" %}

{% block title %}Exam Result{% endblock %}

{% block body %}
    <section class="section" style="overflow: auto">
        <div class="container">
            <p class="title">Exam Result</p>
            <div class="columns">
                <div class="column has-text-left">
                    <p class="subtitle">{{ object.start_time }}</p>
                </div>
                <div class="column has-text-right">
                    <p class="subtitle"><strong>Score: </strong>{{ object.score|floatformat:0 }}%</p>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Question</th>
                    <th>Category</th>
                    <th>Correct</th>
                </tr>
                </thead>
                <tbody>
                {% for record in object.records.all %}
                    <tr class="clickable-row" data-href="{% url 'exam-results-question-detail' object.pk record.question_no %}">
                        <td style="width: 5ex">{{ record.question_no }}</td>
                        <td style="max-width: 40ex">{{ record.question.prompt|truncatechars:80 }}</td>
                        <td>{{ record.question.category }}</td>
                        <td>
                            <span class="icon">
                            {% if record.selected_answer.is_correct %}
                                <i class="fa fa-check" style="color: #97cd76"></i>
                            {% else %}
                                <i class="fa fa-times" style="color: #e84135"></i>
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}