{% extends "base.html" %}

{% block title %}Exam Results{% endblock %}

{% block body %}
    <section class="section" style="overflow: auto">
        <div class="container">
            <p class="title">Exam Results</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th style="text-align: right;">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for quiz in object_list %}
                    <tr class="clickable-row" data-href="{{ quiz.get_absolute_url }}">
                        <td style="min-width: 30ex">{{ quiz.start_time }}</td>
                        <td>{{ quiz.start_time|timesince:quiz.end_time }}</td>
                        <td style="max-width: 5ex; text-align: right;">{{ quiz.score|floatformat:0 }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}