{% extends "base.html" %}

{% block title %}Exam Results{% endblock %}

{% block content %}
    <section class="hero is-info is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title is-4">You Haven't Completed Any Exams</p>
                <div></div>
                <p class="subtitle">
                    <a class="button is-success is-medium" href="{% url 'practice-exam' %}">Start an Exam</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
