{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block extra_body_classes %}quiz{% endblock %}

{% block body %}
    <section class="section quiz">
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                <div class="box">
                    <input type="hidden" name="question_pk" value="{{ question.pk }}">
                    <p class="prompt title is-5">{{ question.prompt }}</p>
                    {% if errors %}
                        <article class="message is-danger">
                            <div class="message-body">
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        </article>
                    {% endif %}
                    <input type="hidden" name="prompt" value="{{ question.prompt }}">
                    <input type="hidden" name="critique" value="{{ question.critique }}">
                    <div class="content">
                        {% for choice in question.shuffled_answer_choices %}
                            <p class="control">
                                <label class="radio">
                                    <input type="radio" name="selected_choice" value="{{ choice.pk }}" required>
                                    <input type="hidden" name="available_choice_pk" value="{{ choice.pk }}">
                                    <span class="text">{{ choice.text }}</span>
                                    <input type="hidden" name="available_choice_text" value="{{ choice.text }}">
                                </label>
                            </p>
                        {% endfor %}
                    </div>
                    <button class="button is-primary is-medium" autofocus>Submit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
