﻿{% extends "base.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block extra_body_classes %}quiz{% endblock %}

{% block body %}
    <section class="section quiz">
        <div class="container">
            <form action="" method="get">
                <div class="box">
                    <p class="prompt title is-5">{{ question.prompt }}</p>
                    <div class="columns">
                        <div class="column is-half">
                            <div class="content">
                                {% for choice in question.shuffled_answer_choices %}
                                    <p class="control">
                                        {% if choice.pk == selected_choice_pk %}
                                            {% if selected_choice_pk == correct_choice_pk %}
                                                <label class="radio is-disabled tag is-success">
                                                    <input type="radio" name="choice" disabled checked>
                                                    <span class="text">{{ choice.text }}</span>
                                                    <i class="fa fa-check"></i>
                                                </label>
                                            {% else %}
                                                <label class="radio is-disabled tag is-danger">
                                                    <input type="radio" name="choice" disabled checked>
                                                    <span class="text">{{ choice.text }}</span>
                                                    <i class="fa fa-times"></i>
                                                </label>
                                            {% endif %}
                                        {% else %}
                                            {% if choice.pk == correct_choice_pk %}
                                                <label class="radio is-disabled tag is-success">
                                                    <input type="radio" name="choice" disabled>
                                                    <span class="text">{{ choice.text }}</span>
                                                    <i class="fa fa-check"></i>
                                                </label>
                                            {% else %}
                                                <label class="radio is-disabled">
                                                    <input type="radio" name="choice" disabled>
                                                    <span class="text">{{ choice.text }}</span>
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        {% if question.critique %}
                        <div class="column">
                            <article
                                    class="message {% if selected_choice_pk == correct_choice_pk %}is-success{% else %}is-danger{% endif %}">
                                <div class="message-body">{{ question.critique }}</div>
                            </article>
                        </div>
                        {% endif %}
                    </div>
                    <button class="button is-primary is-medium" autofocus>Next</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
