{% extends "admin/change_form.html" %}
{% block object-tools-items %}

    {{ block.super }}

    <li>
        <a href="sync/" class="grp-state-focus">Sync Customer</a>
    </li>

{% endblock %}

{% block submit_buttons_bottom %}
{% endblock %}
