{% extends "base.html" %}

{% block title %}No Bundles{% endblock %}

{% block content %}
    <section class="hero is-danger is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title is-4">You Haven't Purchased Any Question Bundles</p>
                <div></div>
                <p class="subtitle">
                    <a class="button is-primary is-medium" href="{% url 'products' %}">Purchase a Bundle</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
