{% extends "base.html" %}

{% load stripe_helpers %}

{% block title %}Question Bundles{% endblock %}

{% block body %}
    <section class="hero is-light is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">Question Bundles</p>
                <div></div>
                {% if products %}
                    <div class="columns" style="align-content: center; justify-content: center;">
                        {% for product in products %}
                            <div class="column is-3">
                                <div class="card is-fullwidth">
                                    <header class="card-header">
                                        <p class="card-header-title">{{ product.name }}</p>
                                        <p class="card-header-icon">${{ product.price }}</p>
                                    </header>
                                    <div class="card-content">
                                        {{ product.description }}
                                    </div>
                                    <footer class="card-footer">
                                        {% if product.is_purchased %}
                                            <strong class="card-footer-item">Purchased</strong>
                                        {% else %}
                                            <a class="card-footer-item"
                                               href="{% url 'purchase' product.slug %}">Purchase</a>
                                        {% endif %}
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="subtitle">No bundles at this time. Check back soon.</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}