{% extends "base.html" %}

{% block title %}Confirm Purchase{% endblock %}

{% block body %}
    <section class="hero is-light is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" style="justify-content: center;">
                <p class="title is-4">Confirm Your Purchase</p>
                <br>
                <form action="" method="post" id="confirm-form">
                    {% csrf_token %}

                    {% include "djstripe/snippets/user_card.html" with style="margin: auto;" %}

                    <br>

                    <p>
                        <strong>${{ product.price }} will be billed to your card to
                            purchase {{ product.name }}.</strong>
                    </p>

                    <br>

                    <a class="button is-danger" href="{% url 'products' %}">Cancel</a>
                    <button class="button is-success" type="submit" autofocus>Confirm</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery(function ($) {
            $('#confirm-form').submit(function (event) {
                var $form = $(this);
                // Disable the submit button to prevent repeated clicks
                $form.find('.button').toggleClass('is-disabled');
                return true;
            });
        });
    </script>
{% endblock %}