{% extends "base.html" %}

{% block title %}Questions{% endblock %}

{% block body %}
    <section class="section" style="overflow: auto">
        <div class="container">
            <p class="title">Questions List</p>
            <div></div>
            <p class="subtitle">{{ purchased_products|join:', ' }}</p>
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center;">Question</th>
                    <th style="text-align: center;">Category</th>
                    <th style="text-align: right;">Times Answered</th>
                    <th style="text-align: right;">Accuracy</th>
                </tr>
                </thead>
                <tbody>
                {% if purchased_products|length == 0 and not request.user.is_staff and not request.user.is_superuser %}
                    <tr class="clickable-row" data-href="{% url 'products' %}">
                        <td class="subtitle has-text-centered" colspan="4">
                            <br>
                            <p>You haven't purchased any question bundles yet.</p>
                            <br>
                            <button class="button is-info">Buy A Bundle</button>
                            <br>
                        </td>
                    </tr>
                {% else %}
                    {% for question in object_list %}
                        <tr class="clickable-row" data-href="{% url 'question-detail' question.pk %}">
                            <td style="min-width: 40ex;">{{ question.prompt|truncatechars:160 }}</td>
                            <td style="min-width: 20ex; text-align: center;">{{ question.category_name }}</td>
                            <td style="min-width: 20ex; text-align: right;">{{ question.times_answered }}</td>
                            <td style="max-width: 8ex; text-align: right;">
                                {% if question.accuracy != None %}
                                    {{ question.accuracy|floatformat:2 }}%
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
