{% extends "base.html" %}

{% block title %}Question Review{% endblock %}

{% block extra_body_classes %}quiz{% endblock %}

{% block body %}
    <section class="section quiz">
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                <div class="box">
                    <p class="prompt title is-5">{{ question.prompt }}</p>
                    <input type="hidden" name="question_pk" value="{{ question.pk }}">
                    <input type="hidden" name="prompt" value="{{ question.prompt }}">
                    <input type="hidden" name="critique" value="{{ question.critique }}">
                    <div class="content">
                        {% for choice in question.shuffled_answer_choices %}
                            <p class="control">
                                <label class="radio">
                                    <input type="radio" name="selected_choice" value="{{ choice.pk }}" required>
                                    <input type="hidden" name="available_choice_pk" value="{{ choice.pk }}">
                                    <span class="text">{{ choice.text }}</span>
                                    <input type="hidden" name="available_choice_text" value="{{ choice.text }}">
                                </label>
                            </p>
                        {% endfor %}
                    </div>
                    <button class="button is-primary is-medium" type="submit" name="action" value="submit" autofocus>Submit</button>
                    <button class="button is-warning is-medium" type="submit" name="action" value="reveal" formnovalidate>Reveal Answer</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
