{% extends "base.html" %}

{% block title %}Question Review{% endblock %}

{% block extra_body_classes %}quiz{% endblock %}

{% block body %}
    <section class="section quiz">
        <div class="container">
            <form action="{% url 'questions-list' %}" method="get">
                <div class="box">
                    <p class="prompt title is-5">{{ question.prompt }}</p>
                    <div class="columns">
                        <div class="column is-half">
                            <div class="content">
                                {% for choice in question.shuffled_answer_choices %}
                                    <p class="control">
                                        {% if choice.pk == correct_choice_pk %}
                                            <label class="radio is-disabled tag is-success">
                                                <input type="radio" name="choice" disabled>
                                                <span class="text">{{ choice.text }}</span>
                                                <i class="fa fa-check"></i>
                                            </label>
                                        {% else %}
                                            <label class="radio is-disabled">
                                                <input type="radio" name="choice" disabled>
                                                <span class="text">{{ choice.text }}</span>
                                            </label>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="column">
                            <article
                                    class="message is-info">
                                <div class="message-body">{{ question.critique }}</div>
                            </article>
                        </div>
                    </div>
                    <button class="button is-primary is-medium" autofocus>Return to Questions</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
